# Python Class Week 3

# 3. 迴圈結構(Iteration)

* 所謂的迴圈結構，就是讓電腦一直的重複做同一件事。當然，在大多數的情況之下，重複執行的同一件事會因為相關的參數有一些變化，而結果會有一些改變。例如：
 1. 由1加到100, 其實是執行 0＋1，結果+2,  結果+3, 結果+4, …  結果+100,
 2. 重複印一樣的歌詞100遍
 3. 重複印一樣的邀請函100張，但是「被邀請人的姓名」不一樣....
* 這些動作，若要在程式中一行一行寫，就得寫100次一樣的東西，實在很笨。所以程式語言有種叫作「迴圈」的東西，讓我們可以只要寫一次就好。

## 3.1  兩種迴圈 ： for loops 與 while loops

* 迴圈有兩種：「知道要繞幾圈」、「不知要繞幾圈，但知道何時要結束（知道結束條件）」
* 「知道要繞幾圈」：例如：由1加到100 = 繞100圈，重複印一樣的歌詞100遍＝繞100圈，這種情況要用 for loops.
* 「不知要繞幾圈，但知道何時要結束（知道結束條件）」: 例如：輸入到合法的值為止。這種情況要用 while。
* 我把課本的順序對調，先教for loops, 再教 while loops.

## 3.2  for 迴圈(for Loops)

* for 迴圈，的基本精神是可以指定迴圈執行的圈數。但在python中 for 迴圈 有一個更深的意含，就是用來把一個「有順序的物件(sequence object)的內容逐一拜訪過。」
* 這個「更深的意含」目前有點難懂，但是實際上做一些例子後，就會明瞭了。
* for 迴圈的表示方式如下：
* 先看一個簡單範例：

for <target> in <object>: # Assign object items to target.
    <statements>

In [ ]:
for x in [1, 2, 3]:
    print(x)

1
2
3

* 我們對照著看。<target\>就是範例中的 `x`，<object\>就是`[1,2,3]`
* `[1,2,3]` 是一個 List, 也是一個「有順序的物件(sequence object)」，內容是1,2,3 三個數字。
* 而<target\>（就是範例中的 `x`），是我們給的一個變數，可以隨便命名。
* 而每次迴圈執行一次，就會依序的把<object\>（範例中是`[1,2,3]`）的一個值，複製到x之中。直到所有<object\>的值都被複製出來後，迴圈就結束。
* 因此，下面是一些執行的例子

In [ ]:
for x in ["spam", "eggs", "ham"]:
    print(x)

spam
eggs
ham

In [ ]:
sum = 0
for x in [1, 2, 3, 4]:
    sum = sum + x

print(sum)

10

In [ ]:
sum = 0
for x in [1, 2, 3, 4]:
    sum =sum + x

print(sum)

10

In [ ]:
sum = 0
for x in range(1, 101):
    sum = sum + x

print(sum)

5050

In [ ]:
sum = 0
for x in range(1,100):
    sum = sum + x

print(sum)

4950

In [ ]:
prod = 1
for item in [1, 2, 3, 4]:
    prod *= item

print(prod)

24

In [ ]:
prod = 1
for item in [1, 2, 3, 4]:
    prod *= item

print(prod)

24

In [ ]:
for x in ["小雞", "小鴨", "小羊"]:
    print("王老先生有塊地，他在田邊養%s" % x )

王老先生有塊地，他在田邊養小雞
王老先生有塊地，他在田邊養小鴨
王老先生有塊地，他在田邊養小羊

In [ ]:
for x in ["嘉嬪", "嘉妃", "嘉貴妃"]:
    print("%s，本宮要一一往上爬" % x )

嘉嬪，本宮要一一往上爬
嘉妃，本宮要一一往上爬
嘉貴妃，本宮要一一往上爬

* 有些時候，我們也不管<target\>值（就是範例中的 `x` 值）的變化，只是讓迴圈轉適當的次數，但這種情況不多。例如：

In [ ]:
for x in [1, 2, 3]:
    print("王老先生有塊地，咿啞咿啞唷")

王老先生有塊地，咿啞咿啞唷
王老先生有塊地，咿啞咿啞唷
王老先生有塊地，咿啞咿啞唷

In [ ]:
sum = 0
for x in range(5):
    sum = sum + x

print(sum)

10

## Range 函式

* `range(n)` 是用來產成一個整數的List, 以便被尋訪內容。
* `range` 有很多使用的方式，第一種方式，和我們已經用過的一樣，只給一個整數`n`。則會產生一個整數的List，內容是0 ~ n-1, 共n個值。
* 你也可以傳入兩個值，`range(n,m)` 此時產生的整數的List內容就是：由 n ~ m-1，一共（m-n）個數。
* 你也可傳入第三個值，`range(n,m,s)`， 此時產生的整數的List內容就是：n, n+s, n+2*s, n+3*s.... <m 的最大的那一個。以下是一些範例。

In [ ]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(2, 15))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

* 其他兩個範例。

In [ ]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
list(range(5, -5, -1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

* 很多時候，`for` 迴圈會跟 `range()` 混用。例如：

In [ ]:
for i in range(3):
    print('%d Pythons' % i)

0 Pythons
1 Pythons
2 Pythons

## 3.4 while 迴圈(while loop)

* `while` 迴圈，也是一個常使用的的迴圈結構，不同的是，for loop 用來處裡已知圈數的迴圈，而 while loop 則用來處裡「不知要跑多少圈的迴圈」。
* 以下為 for 迴圈的標準範例。（已經確定要跑四圈）

In [ ]:
for i in range(4):
    print('Hello!')

Hello!
Hello!
Hello!
Hello!

* while 迴圈，一般又稱作條件迴圈（conditional loop），當條件被滿足時，迴圈就會繼續，直到條件不滿足為止。

* while 迴圈的最基本語法如下：

while <test>:
   <statements>

* 例如：下面的函式會執行列印，直到n不在>0，而由於while loop不會自動變動判斷目標，所以迴圈最後一行將n 更新為n-1，讓迴圈的執行內容改變。

In [ ]:
n = 3
while n > 0:
    print(n)
    n = n - 1
print("Blastoff!")

In [ ]:
countdown(3)

* (非常重要！！) while 執行的流程為：
 1. 先進行條件的判斷，得到 True or False 的答案。
 2. 如果判斷結果為False ，While 迴圈會結束。並且執行步驟直接跳到整個迴圈區塊結束的地方。
 3. 如果判斷結果為True，迴圈內容會被執行，執行完後再回到步驟1看看還要不要繼續執行迴圈。

* 記住，由於while loop不會自動變動判斷目標條件值。因此迴圈內容必須適當地改變判斷目標，並且使迴圈有結束的一天，不然，就會變成無窮迴圈。

* 不過，在某些情況下，是有點不容易判斷迴圈是否一定會結束，例如：

In [ ]:
n = 15
while n != 1:
    print("%d" % n, end="")
    if n % 2 == 0:  # n is even
        n = n / 2
    else:               # n is odd
        n = n * 3 + 1

* 範例中的n值有時增加，有時減少，實在不一定馬上看出是否所有數字到最後都能==1

## 3.5 break

* break 是 while 跟 for 的好朋友，遇到 break, 就會跳出當下的迴圈(只會跳出一層而已)。
* 例如，我們可以用 while True 建立無限迴圈，而用 break 來終止執行。

In [ ]:
while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('Done!')

## 3.6  幾個重要的迴圈搭配指令  break, continue

* **break**:  直接跳出一層迴圈。迴圈會終止。
* **continue**: 遇到continue 時，本圈結束，直接開始下一圈，但迴圈不會終止

* 例如：

In [ ]:
prod = 1
for item in [1, 2, 3, 4]:
    if item % 2 != 0:
        continue
    prod *= item

print(prod)

In [ ]:
x = 10
while True:
    x = x - 1                # 每次都讓x-1
    if x % 2 != 0:
        continue           # 如果是奇數，啥事都不做，直接換下一筆進行處裡。
    print(x)
    if x == 0:
        break                # 如果是x==0，離開迴圈。

## 課堂練習

1. 寫程式計算 1 ~ 100 中的所有奇數和

In [5]:
sum = 0
for x in range(1,100,2):
  sum = sum + x
print(sum)

2500

2. 九九乘法表

不換行列印的方法：  `print(x, end='')`

In [11]:
x=0
y=0
for x in range(1,10):
  for y in range(1,10):
    print('%d * %d = %d    '%(y,x,x*y),end='' )
  print()

1 * 1 = 1    2 * 1 = 2    3 * 1 = 3    4 * 1 = 4    5 * 1 = 5    6 * 1 = 6    7 * 1 = 7    8 * 1 = 8    9 * 1 = 9
1 * 2 = 2    2 * 2 = 4    3 * 2 = 6    4 * 2 = 8    5 * 2 = 10    6 * 2 = 12    7 * 2 = 14    8 * 2 = 16    9 * 2 = 18
1 * 3 = 3    2 * 3 = 6    3 * 3 = 9    4 * 3 = 12    5 * 3 = 15    6 * 3 = 18    7 * 3 = 21    8 * 3 = 24    9 * 3 = 27
1 * 4 = 4    2 * 4 = 8    3 * 4 = 12    4 * 4 = 16    5 * 4 = 20    6 * 4 = 24    7 * 4 = 28    8 * 4 = 32    9 * 4 = 36
1 * 5 = 5    2 * 5 = 10    3 * 5 = 15    4 * 5 = 20    5 * 5 = 25    6 * 5 = 30    7 * 5 = 35    8 * 5 = 40    9 * 5 = 45
1 * 6 = 6    2 * 6 = 12    3 * 6 = 18    4 * 6 = 24    5 * 6 = 30    6 * 6 = 36    7 * 6 = 42    8 * 6 = 48    9 * 6 = 54
1 * 7 = 7    2 * 7 = 14    3 * 7 = 21    4 * 7 = 28    5 * 7 = 35    6 * 7 = 42    7 * 7 = 49    8 * 7 = 56    9 * 7 = 63
1 * 8 = 8    2 * 8 = 16    3 * 8 = 24    4 * 8 = 32    5 * 8 = 40    6 * 8 = 48    7 * 8 = 56    8 * 8 = 64    9 * 8 = 72
1 * 9 = 9    2 * 9 = 18    3 * 9 = 27    4 * 9 = 36    5 * 9 = 45    6 * 9 = 54    7 * 9 = 63    8 * 9 = 72    9 * 9 = 81

3. 某班學生人數不詳，欲輸入每一個學生成績，當輸入 -1 時表示結束輸入，然後顯示出全班人數、及格人數、不及格人數、以及全班平均值。

In [ ]:
count=0
total=0
passc=0
failc=0
while True:
  score= int(input('請輸入成績：（輸入-1結束）：'))
  if score == -1:
    break
  total+=score
  count+=1
  if score>=60:
     passc+=1
  else:
    failc+=1
  avr=totla / count
print(f'全班人數:{count}')
print(f'及格人數:{passc}')
print(f'不及格人數:{failc}')
print(f'全班平均值:{avr}')

4. 印星星(一):

*
**
***
****

In [13]:
x=1
while x<5:
  print(x*'＊')
  x=x+1

＊
＊＊
＊＊＊
＊＊＊＊

5. 印星星(二):

****
***
**
*

In [14]:
x=4
while x>0:
  print(x*'＊')
  x=x-1

＊＊＊＊
＊＊＊
＊＊
＊

6. 印星星(三):

  *
 ***
*****
 ***
  *

In [24]:
x=1
while x<=9:
    if x<=5:
       print(' '*(5-x)+'*'*x)
    else:
       print(' '*(x-5)+'*'*(10-x))
    x=x+2

    *
  ***
*****
  ***
    *